
#wrapper
  form(action='/api/'+model+'/', method='post')
    if (values)
      input(type='hidden', method='put')
      legend Update
    else
      legend New

      //-
        Loop through every field in the Schema and create the appropriate
        formelements.
        @see /docs/crud.md

      fieldset
        each field in form
          .inline-block
            if field.type !== 'hidden'
              label= field.name
            if field.type === 'textarea'
              textarea(name=field.name, required=field.required, maxlength=field.max)
            else
              input(type=field.type, name=field.name, required=field.required, maxlength=field.max)



//- In development-mode, output the Schema to the console
if (process.env.NODE_ENV !== 'production')
  script(type='text/javascript')
    console.dir(!{JSON.stringify(form)})

